{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="hero-image">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">It should be easy to identify governments on the internet.</span>
        </h1>
        <p>.gov is the top-level domain for U.S.-based government organizations.</p>
        <a class="usa-button" href="javascript:void(0)">Get a .gov</a>
        <a class="usa-button usa-button--outline" href="javascript:void(0)">Manage your domain</a>
      </div>
    </div>
  </div>
</section>
