{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <h1>Benefits of .gov</h1>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <p>
            Helps the public identify official, trusted information
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <p>
            Governments at all levels are eligible for .gov domains (cities, counties, and more)
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <p>
            They're free!
          </p>
        </div>
      </div>
    </div>
    <h1>Learn about .gov domains</h1>
  </div>
</section>
