
.sign-in {
    background-color: color('primary-darker');
    padding: 0.5em 1.5em 1.5em 1em;
}

.sign-in-logo,
.sign-in-logo:active,
.sign-in-logo:visited {
    color: #fff;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    padding: 0.85rem;
    padding: 0.75rem 0.5rem;
    text-decoration: none;
}

.sign-in-logo:hover {
    text-decoration: underline;
}

.sign-in-logo::before {
    content: url('../../_img/login-logo.png');
    position: relative;
    top: 0.5em;
}